
body{
  background-color:purple;
}

figcaption{
  color:white;
}

h1{
  color: white;
  text-align: center;
}

h2{
  color: lightblue;
}

h3{
  color:lightblue;
}

p{
  color:white;
}

a{
  color:lightblue;
}